# SLURM
slurm*.out
slurm*.err

# Old files/directories
*old*
*OLD*

# Dependencies / external
*bit.sea*

# Ignore  directories

#00_build_SUPERFLOAT
ONLINE/
00_build_SUPERFLOAT/ONLINE/
00_build_SUPERFLOAT/TEST_00_bitsea_to_test

#01_calc_clim
01_calc_clim//*/
*FILES_AND_FIGS*

# 02_analyze_clim
02_analyze_clim/*/

# 05_validation
05_plot_multi_prod_timeseries/CANYON_MED/*/
05_plot_multi_prod_timeseries/MEDBGC_INS/*/
05_plot_multi_prod_timeseries/STAT_PROFILES/*/
05_plot_multi_prod_timeseries/plots

# file format # 
*csv
*nc
*png

# SLURM folders
*SLURM*

# Python cache
__pycache__/
*.pyc

# bitsea
*bit.sea*

# Generated directories/files
PTEM_PSAL/


