
*slurm*

# Dependencies
*bit.sea  
*ONLINE 
*SLURM


# direcotries
*PTEM_PSAL
1_clim_analysis/*DOXY_FIGS
1_clim_analysis/*DOXY_60*
1_clim_analysis/*density_plot*
0_clim_calc/yearly_clim/FILES_AND_FIGS/
FILES_AND_FIGS/
